mlflow==2.8.1
astunparse==1.6.3
cffi==1.15.1
cloudpickle==2.2.1
defusedxml==0.7.1
ipython==8.10.0
numpy==1.23.5
opt-einsum==3.3.0
packaging==22.0
pandas==1.5.3
pyyaml==6.0
requests==2.28.2
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.0